body{
    background: #3e0000;
    margin: 0;
    padding: 0;
}

.heart{
    width: 180px;
    height: 100px;
    position: absolute;
    top: 40%;
    left: 37%;
    background: #ff3e3e;
    transition: 1s;
    transform-origin: right bottom;
}

.heart:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    transition: 2s;
    transform-origin: right bottom;
}

.heart:hover{
    transform: rotate(45deg);
    border-top-left-radius: 50px;
    
    border-bottom-left-radius: 50px;
}

.heart:hover:before{
    transform: rotate(450deg) translateY(100px); 
    border-top-left-radius: 50px;
    background: #e22c2c;    
    border-bottom-left-radius: 50px;

}
 